<ul class="navigation">
  <%= nav_link t("nav.home"), controller: "home", class: "home"  %>
  <%= nav_link t("nav.apps"), controller: "apps", class: "apps"  %>
  <%= nav_link t("nav.books"), controller: "books", class: "books"  %>
  <li class="blog"><a href="/blog"><%= t "nav.blog" %></a></li>
  <li class="gallery"><a href="/gallery"><%= t "nav.gallery" %></a></li>
</ul>

