<div class="card">
  <%= render "shared/menu"  %>
</div>

<% @books.each do |book|  %>
  <div class="card book">

    <% if book.coming_soon? %>
      <div class="coming-soon"><span><%= t "coming_soon" %></span></div>
    <% end %>

    <div class="card-inner">
      <%= responsive_image_tag book.icon, :class => "product-icon hisrc"  %>
      <div class="text-container">
        <h2><%= book.name  %></h2>
        <p><%= dat_markdown(book.desc) %></p>
      </div>

      <%= store_badge book %>
    </div>

  </div>
<% end %>
