<%= form_for @post, html: { class: "form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :text , class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :locale, class: "control-label" %>
    <div class="controls">
      <%= f.select :locale, I18n.available_locales, {}, class: "input-small" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn" %>
    </div>
  </div>
<% end %>
