<% title "Blog posts" %>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Post title</th>
    <th>Actions</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= post.updated_at.to_date %></td>
      <td><%= link_to post.title, [:admin, post] %></td>
      <td>
        <%= link_to content_tag(:i, "", class: "icon-edit") + "Edit", edit_admin_post_path(post), class: "btn btn-mini" %>
        <%= link_to content_tag(:i, "", class: "icon-remove") + "Destroy", [:admin, post], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-mini" %>
    </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New post", new_admin_post_path, class: "btn btn-success" %></p>
