<div class="card">
  <%= render "shared/menu"  %>
</div>

<div class="card albums">
  <div class="card-inner">
    <ul>
      <% for album in @albums %>
        <li>
        <a href="<%= album_pictures_path(album)  %>" class="colorbox-item">
          <div class="stack">
            <span class="sheet_1">
              <%= responsive_image_tag picture(album,1).image(:thumb)  %>
            </span>
            <span class="sheet_2">
              <%= responsive_image_tag picture(album,2).image(:thumb)  %>
            </span>
            <div class="cover">
              <div class="photo">
                <%= responsive_image_tag cover(album).image(:thumb), :'2x' => cover(album).image(:thumb2x), :class => "hisrc"  %>
              </div>
              <div class="caption">
                <h2><%= album.name  %></h2>
              </div>
            </div>
          </div>
        </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
