<% title "Products" %>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Product name</th>
    <th>Actions</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.updated_at.to_date %></td>
      <td><%= link_to product.name, edit_product_path(product) %></td>
      <td>
        <%= link_to  edit_product_path(product), class: "btn btn-mini" do %>
          <%= content_tag(:i, "", class: "icon-edit") %>
          Edit
        <% end %>
        <%= link_to  new_product_review_path(product), class: "btn btn-mini" do %>
          <%= content_tag(:i, "", class: "icon-comment") %>
          Create review
        <% end %>
        <%= link_to  product_reviews_path(product), class: "btn btn-mini" do %>
          <%= content_tag(:i, "", class: "icon-list") %>
          Show reviews
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New product", new_product_path, class: "btn btn-success" %></p>

