<div class="card">
  <%= render "shared/menu"  %>
</div>

<% @apps.each do |app| %>
  <div class="card app">

    <% if app.coming_soon? %>
      <div class="coming-soon"><span><%= t "coming_soon"  %></span></div>
    <% end %>

    <div class="card-inner">
      <% if app.wide_banner  %>
        <%= responsive_image_tag app.wide_banner, class: "wide-banner hisrc"  %>
      <% else %>
        <%= responsive_image_tag app.mini_banner, class: "mini-banner hisrc" %>
      <% end %>

      <div class="text-container">
        <%= responsive_image_tag app.icon.url(:small), :"2x" => app.icon.url(:small2x), class: "app-icon hisrc" %>
        <h2><%= app.name %></h2>
        <p><%= dat_markdown(app.desc) %></p>
      </div>

      <%= store_badge app %>
    </div>
  </div>
<% end %>

